<h1>Send yo Love</h1>
<form class="" onsubmit={{action 'createAppreciation'}}>
  I want to let <input type="text" name="name" placeholder="The person who Rocks" onchange={{action (mut name) value = "target.value"}}> know that <br>
  <input type="text" name="body" placeholder="they rock" onchange={{action (mut body) value = "target.value"}}> <br>
  <input type="submit" value="YAAAASSS">
</form>
